@charset "UTF-8";

/* 나의쇼핑메인 */

a:link {text-decoration: none; color: #555555;}
a:visited {text-decoration: none; color: #555555;}
a:active {text-decoration: none; color: #555555;}
a:hover {text-decoration: underline; color: #886e45;}

.nameBar {background-color: #878787; color: white; width: 950px; height: 25px; padding: 3px; margin: 0;}
.nameBar .left_div {float: left; line-height: 25px; padding-left: 5px;}
.nameBar .right_div {float: right; line-height: 35px; padding-right: 5px;}
.nameBar .right_div img {cursor: pointer;}

.navi_div {width: 950px; padding: 0; margin-top: 20px; font-family: 맑은고딕;}
.infoBar {width: 948px; height: 70px; background-color: #fcfcfa; padding: 3px; margin: 0; border-bottom: 1px solid #878787; border-left: 1px solid #878787; border-right: 1px solid #878787; font-weight: bold; font-size: 11pt;}
.infoBar ul {list-style: none; margin: 0; display: block; margin-top: 4px; padding-left: 0px;}
.infoBar li {float: left; border-left: 1px solid #e1e1e1; height: 50px; padding-top: 10px; text-align: center; width: 150px; margin: 0}
.infoBar span {display: block;}
.infoBar .under{margin-top: 10px; color: #3aaeca;}

.side_navi {float: left; border: 1px solid #c9c9c9; margin-top: 15px; width: 160px; font-size: 11pt; font-family: 맑은고딕;}
.side_navi_title {display: block; background-color: #fcfcfa; border-bottom: 1px solid #c9c9c9; padding-left: 10px; padding-top: 7px; padding-bottom: 7px; font-weight: bold; font-size: 12pt;}
.side_navi_span {font-weight: bold; display: block; padding-left: 10px; padding-bottom: 5px;}
.side_navi ul {list-style: none; padding-left: 0px; margin: 0;}
.side_navi li {margin: 0; font-size: 10pt;}
.side_navi_line {border-bottom: 1px solid #e1e1e1;}
.side_navi_line li {padding-left: 20px;}

.contents {float: left; margin-top: 15px; margin-left: 20px; width: 778px; font-family: 맑은고딕;}
.contents_title {font-size: 13pt; font-weight: bold;}

.main_RecentOrderList {height: 200px;}
.main_wishList {height: 300px;}
.main_latesbooksList {height: 300px;}
.main_CounselList {height: 200px;}

.main_RecentOrderList table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.main_RecentOrderList th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.main_RecentOrderList td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}

.main_CounselList table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; text-align: center; margin-top: 10px;}
.main_CounselList th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 30px; width: 100px; line-height: 30px; }
.main_CounselList td {border-bottom: 1px solid #d5d5d5; height: 30px; line-height: 30px;}

.sapn_right {float: right; margin: 0; padding-top: 8px; font-weight: bold; padding-right: 3px;}
.count {color: #ea5759; font-weight: bold};

.pre_myinfo_title {width: 778px; border-bottom: 1px solid #e1e1e1; font-size: 14pt; font-weight: bold; padding-bottom: 10px;}
.pre_myinfo_div {text-align: center; margin-top: 70px;}
.pre_myinfo_div .pre_myinfo_form {font-weight: bold; line-height: 30px; border: 1px solid #d5d5d5; margin: 0 auto; margin-top: 20px; width: 470px; text-align: center;}
.pre_myinfo_div .pre_myinfo_dl {padding: 15px 15px 15px 100px; height: 65px;}
.pre_myinfo_div .pre_myinfo_form dt {float: left; width: 90px; font-weight: bold; float: left; text-align: left;}
.pre_myinfo_div .pre_myinfo_form dd {width: 250px; color: #7B5A2B; float: left; text-align: left;}
.pre_myinfo_next_btn {color: white; background-color: #937354; border: 1px solid #937354; width: 120px; height: 30px; margin-top: 30px; font-weight: bold;}
.pre_myinfo_msg {color: #ea5759; font-weight: bold;}

.myInfo_update_table table {border-top: 2px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; border-collapse: collapse; border-spacing: 0px; font-size: 10pt; margin-top: 10px; width: 778px; text-align: left;}
.myInfo_update_table th {background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; height: 35px; width: 100px; line-height: 35px; padding-left: 15px;}
.myInfo_update_table td {border-bottom: 1px solid #d5d5d5; height: 35px; line-height: 35px; padding-left: 10px;}
.myInfo_select {font-size: 10pt; height: 23px;}

.changePwdBtn {color: white; border: 1px solid #9d9d9d; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; height: 25px;}
.changePwdBtn:hover {color: white; border: 1px solid #555555; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; height: 25px;}
.myInfo_update_ok {color: white; border: 1px solid #937354; background-color: #937354; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_ok:hover {color: white; border: 1px solid #69492a; background-color: #937354; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_cancel {color: white; border: 1px solid #9d9d9d; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt; height: 30px; width: 100px;}
.myInfo_update_cancel:hover {color: white; border: 1px solid #555555; background-color: #9d9d9d; cursor: pointer; font-weight: bold; font-size: 9pt;}

.update_pwd_sub {margin: 10px; padding-left: 0px; font-size: 10pt; font-weight: bold;}
.updatePwdTable table {margin-top: 20px; font-size: 10pt; border-collapse: collapse;}
.updatePwdTable tr {border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; text-align: left; height: 45px;}
.updatePwdTable th {background-color: #fafafa; width: 750px; padding-left: 10px}
.updatePwdTable td {padding-left: 10px; width: 700px;}

.update_pwd_ok {color: white; background-color: #af9883; border: 1px solid #af9883; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}
.update_pwd_ok:hover {color: white; background-color: #af9883; border: 1px solid #947558; font-weight: bold;}
.update_pwd_cancel {color: white; background-color: #d5d5d5; border: 1px solid #d5d5d5; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}
.update_pwd_cancel:hover {color: white; background-color: #d5d5d5; border: 1px solid #d1d1d1; width: 80px; height: 30px; cursor: pointer; font-weight: bold;}


