<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loginMapper">

<!-- 아이디 중복검사 -->
<select id="idOverlapCheck" parameterType="java.lang.String" resultType="com.spring.webproject.dto.UserDTO">
	select * from users where userId=#{userId}
</select>

<!-- 회원가입 성공 -->
<insert id="joinMember" parameterType="com.spring.webproject.dto.UserDTO">
	insert into users(userId,userPwd,userName,birth,phone,email,emailReception,smsReception,nickName,zipCode,address1,address2,addTel,memberGrade)
	values(#{userId},#{userPwd},#{userName},#{birth},#{phone},#{email},#{emailReception},#{smsReception},#{nickName},#{zipCode},#{address1},#{address2},#{addTel},#{memberGrade})
</insert>

<!-- 로그인 -->
<select id="login" parameterType="map" resultType="com.spring.webproject.dto.UserDTO">
	select userId,userName,to_char(birth,'YYY-MM-DD') birth, phone, email, emailReception, smsReception, nickName, zipCode, address1, address2, addTel, memberGrade 
	from users where userId=#{userId} and userPwd=#{userPwd}
</select>

<!-- 적립금 pointId 찾기 -->
<select id="getPointId" resultType="int">
	select nvl(max(pointId),0) from point
</select>

<!-- 신규가입 적립금 적립 -->
<insert id="joinPointSaving" parameterType="map">
	insert into point(userId, savingDate, expirationDate,value,pointItem,pointId)
	values(#{userId}, sysdate, sysdate+30,1000,#{pointItem},#{pointId})
</insert>

<!-- 아이디 찾기 -->
<select id="findUserId" parameterType="com.spring.webproject.dto.UserDTO" resultType="java.lang.String">
	select userId from users where userName=#{userName} and to_char(birth,'YYYY-MM-DD')=#{birth} and phone=#{phone} and email=#{email}
</select>

<!-- 비밀번호 찾기 -->
<select id="findUserPwd" parameterType="com.spring.webproject.dto.UserDTO" resultType="com.spring.webproject.dto.UserDTO">
	select * from users where userId=#{userId} and userName=#{userName} and to_char(birth,'YYYY-MM-DD')=#{birth} and phone=#{phone} and email=#{email}
</select>

<!-- 임시 비밀번호 저장 -->
<update id="tempPwd" parameterType="map">
	update users set userPwd=#{userPwd} where userId=#{userId}
</update>

</mapper>